// vendors
@import "vendors/jquery.fancybox";
@import "vendors/slick";
@import "vendors/slick-theme";

// config
@import "config/_variables";
@import "config/_mixins";
@import "config/_media";

// base
@import "layout/_fonts";
@import "layout/_normalize";
@import "layout/_base";
@import "layout/_adjustment";

// section
@import "section/_intro";
@import "section/_best";
@import "section/_burgers";
@import "section/_team";
@import "section/_menu";
@import "section/_reviews";
@import "section/_order";
@import "section/_contacts";
@import "section/_hamburger";
@import "section/_pagination";
@import "section/_fixed-menu";
