.best {
    background: url('../img/bg/best_bg.jpg') no-repeat center bottom / cover;
    position: relative;
    text-align: center;

    .section__title {
        margin-bottom: rem(60px);
    }
}

.best__list, .best__item {
    display: flex;
}

.best__list {
    justify-content: space-around;
    align-items: baseline;
}

.best__item {
    flex-direction: column;
    margin-bottom: rem(50px);
    padding: 0 rem(15px);
    width: 33%;
}

.best__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best__icon {
    width: rem(97px);
    height: rem(90px);
}

.best__icon_meat {
    fill: $orange;
}

.best__icon_hand {
    fill: $yellow;
}

.best__icon_natural {
    fill: $green;
}

.best__title {
    @include lifehack();
    font-size: rem(24px);
    color: $dark;
    margin-bottom: rem(20px);
}