.best {
    @include bg('../img/bg/best_bg.jpg');
    background-position: center bottom;
    text-align: center;
}

.best__list {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.best__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 rem(10px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        padding: 0;
    }

    @include phones {
        flex-direction: row;
        width: 100%;
        margin-bottom: rem(30px);
    }
}

.best__img {
    margin-bottom: rem(30px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(25px);
        width: 30%;
    }
}

.best__icon {
    width: 90%;
    height: rem(100px);

    svg {
        max-width: 95%;
    }

    @include phones {
        position: static;
        transform: none;
    }
}

.best__icon_meat {
    fill: $orange;
}

.best__icon_hand {
    fill: $yellow;
}

.best__icon_natural {
    fill: $green;
}

.best__descr {
    @include phones {
        width: 70%;
        text-align: left;
    }
}

.best__title {
    @include lifehack();
    font-size: rem(24px);
    color: $dark;
    margin-bottom: rem(20px);

    @include tablets {
        font-size: rem(22px);
    }
    
    @include phones {
        margin-bottom: rem(10px);
        // font-size: rem(22px);
    }
}