.best {
    background: url('../img/bg/best_bg.jpg') no-repeat center bottom / cover;
    position: relative;
    text-align: center;
}

.section__title_black {
    color: $dark;
    padding: 0;
    margin-bottom: rem(60px);
}

.best__list, .best__item {
    display: flex;
}

.best__list {
    justify-content: space-around;
    align-items: baseline;
}

.best__item {
    flex-direction: column;
    margin-bottom: rem(50px);
    padding: 0 rem(15px);
    width: 33%;
}

.best__title {
    @include lifehack();
    font-size: rem(24px);
    color: $dark;
    margin-bottom: rem(20px);
}