.burgers {
    background-image: linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    display: flex;
    align-items: center;
}

.slick-initialized .slick-slide {
    display: flex;
}

.burgers-slider__item {
    display: flex;
    position: relative;
    padding: rem(30px) 0;
    outline: none;

    @include tablets {
        flex-direction: column;
        padding: 0;
    }

    @include phones {
        padding: rem(50px) 0;
    }
}

.burgers-slider__col {
    flex: 1;
}

.burgers-slider__col-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgers-slider__pic-img {
    display: inline-block;
    max-width: 100%;
}

.burgers-slider__title {
    line-height: 1;

    @include tablets {
        text-align: center;
    }
}

.burgers-slider__descr {
    @include ubuntu(light);
    font-size: rem(14px);
    color: #fff;
    line-height: 1.8;

    @include tablets {
        text-align: center;
    }
}

.burgers-slider__order {
    display: flex;
    align-items: baseline;

    @include tablets {
        justify-content: center;
    }
}

.burgers-slider__price {
    @include gagalin();
    font-size: rem(72px);
    color: $orange;
    margin-right: rem(30px);
}

.burgers-slider__price-units {
    font-size: rem(30px);
}

.burgers-ingredients {
    width: rem(90px);
    border-radius: rem(10px);
    background: rgba($orange, .4);
    text-align: center;
    padding: rem(10px) 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: .5s;

    &:hover {
        background: $orange;

        & .burger-ingredients__dropdown {
            visibility: visible;
            opacity: 1;
        }
    }
}

.burger-ingredients__icon {
    width: rem(46px);
    height: rem(42px);
    fill: #fff;
}

.burger-ingredients__text {
    @include gagalin();
    color: #fff;
}

.burger-ingredients__dropdown {
    width: rem(275px);
    border-radius: rem(10px);
    background: rgba(#fff, .9);
    position: absolute;
    padding: rem(10px) rem(20px);
    top: 0;
    left: rem(90px);
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
    cursor: auto;

    @include phones {
        width: rem(220px);
    }
}

.dropdown__row {
    display: flex;
    font-size: rem(14px);
    justify-content: space-around;
    align-items: center;
    margin-bottom: rem(10px);

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(3n+1) .dropdown__icon {
        fill: $orange;
    }

    &:nth-child(4n+2) .dropdown__icon {
        fill: $yellow;
    }

    &:nth-child(2n+3) .dropdown__icon {
        fill: $green;
    }
}

.dropdown__pic {
    width: rem(50px);
    height: rem(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: rem(25px);
}

.dropdown__icon {
    width: rem(50px);
    height: rem(44px);
}

.dropdown__text {
    @include ubuntu(medium);
    margin-right: auto;
}

.dropdown__weight {
    @include ubuntu(light);
}

.burgers__kkal {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .5;
    color: #fff;
    text-align: center;

    @include tablets {
        left: initial;
        bottom: initial;
        right: 0;
        top: 0;
    }
}

.burgers__kkal-weight {
    width: rem(60px);
    height: rem(60px);
    background: url(../img/icons/kkal.svg) no-repeat center center / cover;    
    position: relative;
}

.burgers__kkal-amount {
    @include gagalin();
    font-size: rem(20px);
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);

}

.burgers__kkal-text {
    @include gagalin();
    font-size: rem(14px);
}

.reviews__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: rem(40px);
    height: rem(40px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 20;

    &:hover {
        .arrow-icon {
            transform: scale(1.2);
        }
        
    }
}

.reviews__arrows-next {
    left: 98%;
    transform: translateY(-50%) rotate(-90deg);

    @include tablets {
        left: 90%;
    }
}

.reviews__arrows-prev {
    right: 98%;
    transform: translateY(-50%) rotate(90deg);

    @include tablets {
        right: 90%;
    }
}