.intro {
    background: url('../img/bg/intro_bg.jpg') no-repeat center / cover;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(10px);
}

.header__logo {
    margin-right: auto;
}

.nav {
    margin-right: rem(15px);
}

.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__item {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:after {
        content: '';
        @include circle(5px, #fff);
        margin: 0 rem(12px);
    }
    &:last-child:after {
        display: none;
    }
}

.nav__link {
    color: #fff;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: .5s;

    &:hover {
        text-decoration: underline;
    }
}

.intro__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 10%;
}

.intro__img, .intro__descr {
    flex-basis: 50%;
    display: flex;
}

.intro__descr {
    flex-direction: column;
    justify-content: center;
}

.intro__descr-text {
    color: #fff;
    @include lifehack();
    font-size: rem(65px);
    line-height: 1;
}

.intro__arrow-scroll {
    margin-bottom: rem(40px);
    transition: .3s;

    &:hover {
        transform: scale(1.2);
    }
}