.menu {
    position: relative;
    @include bg('../img/bg/menu_bg.jpg');

    .section__title {
        position: absolute;
        top: 10%;
        left: 10%;

        @include phones {
            left: 5%;
        }
    }
}

.menu-accordeon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
}

.menu-accordeon__item {
    height: 100%;
    position: relative;
    display: flex;

    &_active {
        .menu-accordeon__trigger {
            color: $yellow;
        }
        
        .menu-accordeon__content {
            width: rem(530px);

            @include tablets {
                width: 100%;
            }
        }
    }
}

.menu-accordeon__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: rem(80px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include phones {
        width: rem(60px);
        align-items: flex-end;
    }
}

.menu-accordeon__trigger-title {
    @include gagalin();
    font-size: rem(40px);
    transform: rotate(-90deg) translateX(-100%);
    white-space: nowrap;
    width: 100%;

    @include phones {
        font-size: rem(30px);
        transform: rotate(-90deg) translateX(50%);
    }
}

.menu-accordeon__content {
    width: 0;
    height: 100%;
    overflow: hidden;
    background: rgba($dark, .93);

    @include phones {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: rem(30px);
        text-align: center;
    }
}

.menu-accordeon__text {
    @include ubuntu(light);
    font-size: rem(14px);
    color: #fff;
    width: 100%;
    line-height: 1.8;
    padding: 15% 5%;

    @include phones {
        padding: 0 2%;
    }
}

