.order {
    @include bg('../img/bg/order_bg.jpg');
    .section__title {
        text-align: center;

        @include tablets {
            margin-bottom: 0;
            line-height: 1;
        }
    }
}

.form__content {
    display: flex;
    margin-left: rem(-40px);

    @include tablets {
        margin: 0 auto;
        flex-direction: column;
        max-width: rem(472px);
    }
}

.form__col {
    flex: 1;
    margin-left: rem(40px);

    @include tablets {
        margin-left: 0;
        margin-bottom: rem(20px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(20px);

    &:last-child {
        margin-bottom: 0;
    }

    @include phones {
        justify-content: center;
    }
}

.form__block {
    flex: 1;
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
}

.form__block-title {
    color: #fff;
    @include ubuntu(light);
    font-size: rem(14px);
    margin-bottom: rem(5px);
    padding-left: rem(5px);
    display: block;
}

.form__input {
    border: none;
    border-radius: rem(5px);
    padding: rem(8px) rem(10px);
    width: 100%;
}

.form__input_text {
    resize: vertical;
    height: rem(110px);
}

.form__buttons-block {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
}

.form__radio-label {
    @include ubuntu(light);
    font-size: rem(14px);
    color: #fff;
    position: relative;
    cursor: pointer;
    padding-left: 30px;

    &:before {
        content: '';
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background: #fff;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 8px;
        left: 8px;
        transform: translate(-50%, -50%) scale(.5);
        border-radius: 50%;
        background: $orange;
        opacity: 0;
        transition: .5s;
    }
}

.form__checkbox-label {
    &:before {
        border-radius: 0;
    }

    &:after {
        border-radius: 0;
        background: url('../img/icons/check.svg') no-repeat center center / cover;
        width: 10px;
        height: 10px;
    }
}

.form__radio-input:checked {
    &+.form__radio-label {
        &:after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.form__order-button {
    border: 0;
    @include ubuntu(500);
    cursor: pointer;
    outline: none;
}

.form__reset-button {
    @include ubuntu(300);
    font-size: rem(14px);
    background: transparent;
    color: #fff;
    margin-left: rem(20px);
    transition: .3s;
}

.order-form_success {
    color: green;
}

.order-form_error {
    color: red;
}