.reviews__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    position: relative;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.review__hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: rem(14px);
    transition: .4s;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;

    &:hover {
        background: rgba(#141414, .7);
        opacity: 1;
    }

    &:hover .review__descr {
        transform: scale(1);
    }

    @include tablets {
        font-size: rem(12px);
    }
}

.review__descr {
    width: 80%;
    margin: 0 auto;
    transform: scale(.7);
    transition: .5s;

    @include tablets {
        width: 95%;
        text-align: center;
    }
}

.review__title {
    @include gagalin();
    text-transform: uppercase;
    margin-bottom: rem(20px);
}

.review__short-text {
    @include ubuntu(light);
    margin-bottom: rem(16px);

    @include phones {
        display: none;
    }
}

.review__more-btn {
    display: inline-block;
    padding: rem(10px) rem(10px);
    border-radius: rem(5px);
    @include ubuntu(medium);
    font-size: rem(13px);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: $dark;
    transition: .5s;

    &:hover {
        background: #1f2122;
    }

    @include tablets {
        padding: rem(8px) rem(8px);
        font-size: rem(11px);
    }
}