.team {
    position: relative;
    @include bg('../img/bg/team_bg.jpg');
    background-position: center top;
    .section__title {
        margin-bottom: 10%;

        @include tablets {
            text-align: center;
            margin-bottom: 2%;
        }

        @include phones {
            margin-bottom: 10%;
        }
    }
}

.team__container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: rgba($dark, .93);
    padding: 5% 2% 0 7%;

    @include tablets {
        left: 0;
        padding: 0;
    }

    @include phones {
        left: 0;
        padding: 5% 0 0;
    }
}

.team-accordeon__item {
    margin-bottom: rem(40px);

    &_active {
        .team-accordeon__trigger {
            color: $yellow;

            &:before {
                transform: rotate(180deg);
            }
        }
    }

    @include tablets {
        text-align: center;
    }
}

.team-accordeon__trigger {
    position: relative;
    display: inline-flex;
    align-items: center;
    @include gagalin();
    font-size: rem(14px);
    color: #fff;
    text-decoration: none;
    margin-bottom: rem(20px);

    &:before {
        content: "";
        display: inline-block;
        margin-right: rem(10px);
        border-top: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .5s;
    }
    
    @include tablets {
        font-size: rem(23px);
    }
}

.team-accordeon__content {
    height: 0;
    overflow: hidden;   
    transition: height .5s;
}

.team-accordeon__content-wrap {
    display: flex;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.team-accordeon__pic {
    text-align: center;
    margin-left: rem(20px);

    @include tablets {
        margin-left: 0;
        margin-bottom: rem(20px);
    }
}

.team-accordeon__pic-img {
	width: rem(100px);
	height: rem(100px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	border-radius: 50%;
}

.team-accordeon__descr {
    max-width: rem(220px);
    margin-left: rem(40px);

    @include tablets {
        margin-left: 0;
        max-width: rem(230px);
    }
}

.team-accordeon__title {
	@include ubuntu(bold);
	font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(14px);
}

.team-accordeon__text {
	@include ubuntu(light);
	color: #fff;
    font-size: rem(14px);
    line-height: 1.6;
}