@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}

@mixin bg($path) {
    background-image: url($path);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

// responsive
@function rem($px) {
    @return $px / 16px + 0rem;
}