.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.section {
    height: 100vh;
    min-height: 650px;
    background-color: rgba(#000, .7);
    &_centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.container {
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
}

.order-link {
    min-width: rem(98px);
    padding: rem(10px) rem(15px);
    border-radius: rem(5px);
    background: $orange;
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    display: block;
    &:hover {
        background-color: darken($orange, 10%);
    }
}

.section__title {
    @include gagalin();
    font-size: rem(72px);
    line-height: 1.42;
    color: $yellow;
    margin-bottom: rem(40px);
    &_dark {
        color: $dark;
    }
    &_white {
        color: #fff;
    }

    @include tablets {
        font-size: rem(68px);
    }

    @include phones {
        font-size: rem(50px);
        margin-bottom: rem(20px);
    }
}

.text__block p {
    font-size: rem(14px);
    font-weight: 300;
    line-height: 2;
}